@media only screen and (min-width: 991px) and (max-width: 1200px) {
	
.luotxem{
	display: none !important;
}



	}
	
	
	




@media only screen and (min-width: 768px) and (max-width: 991px) {




.hiden_responsive{display:none;}
.tennhom,
.tennhom a{
	text-align: center;
}
.baiviet1 img{
	margin: auto;
	max-height:none;
}
.baiviet2{
    
    overflow: hidden;
	 text-align: justify;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;

}



}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {


	.hiden_responsive{display:none;}
	.mainprofile-left img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.baiviet1 img{
		margin: auto;
		max-height:none;
	}
	.baiviet2{
		overflow: hidden;
	 	text-align: justify;
   		text-overflow: ellipsis;
   		display: -webkit-box;
    	-webkit-line-clamp: 3; /* number of lines to show */
    	-webkit-box-orient: vertical;
	}
}




/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 320px) and (max-width: 767px) {


.padd_0{
	padding-left: 20px !important;
}
.hiden_responsive{display:none;}
.collapse{
    visibility:  visible !important;
}
.Profilemenu1{
    display: none !important;
}
.prohiden{
    display: block !important;
	height: 30px;
}
.prohiden1{
	margin-top: 19px;
}
.prohiden button{
    margin: 0px 0px 10px 13px  !important;
	
}
.mainprofile{
	margin: 50px 50px 0px 50px;
}
.mainprofile-left,
.mainprofile-right{
	width: 100%;
	padding:0;
	text-align: center;
}
.form-control1 {
	border:none;
    padding-left: 0px;
}
.buttonlogin button{
   
	float: left;
	margin: 0px;
	margin-left: 15px;
}
.buttonlogin {
   
	height: 45px;
	
}


}


