{% extends 'base.html' %}
{% block content%}

<div style="margin:50px;text-align:justify">
    <h2 >Giới thiệu</h2>

<p style="margin-top: 20px;">Thời đại công nghệ 4.0 thì chắc hẳn không còn ai xa lạ với việc xem hoặc tra cứu thông tin từ những công cụ trực tuyến như Google, Bing, Youtube,… nói chung và các nền tảng website bán hàng, tin tức, báo chí nói riêng có thể kể đến tiêu biểu ở Việt Nam như VnExpress, BaoThanhNien, TuoiTre, DanTri,… chúng đã hoàn toàn thay thế được các phương thức trao đổi, cập nhật thông tin, phổ cập tin tức trước đây nhờ vào những lợi thế sau:</p>  
<ul style="margin-left: 30px;">
    <li style="font-weight: bold;"> Tính tiết kiệm:</li>
    <p>Tiếp cận nguồn thông tin, tin tức, tài nguyên gần như vô hạn miễn là có kết nối tới Internet thay vì phải bỏ tiền mua từng mảnh thông tin, tờ báo, cuốn sách như trước đây.</p>

    <li style="font-weight: bold;"> Tính đa dạng:</li>
    <p>Có thể tìm kiếm thông tin theo từ khóa, hashtag, danh mục, chủ đề … hoặc bằng bất cứ thứ gì được gợi lên trong suy nghĩ của người dùng.</p>
    
    <li style="font-weight: bold;"> Tính chính xác:</li>
    <p>Các trang báo hoặc thư viện thông tin chính thống, có uy tín sẽ luôn cung cấp thông tin mới nhất và chính xác nhất, các thông tin được kiểm tra và phê duyệt trước khi đăng tải sẽ giúp người dùng tiếp cận được nguồn thông tin đáng tin cậy bao gồm thông tin cơ bản và cả chuyên sâu.</p>

    <li style="font-weight: bold;"> Tính tương tác:</li>
    <p>Có thể bình luận, trao đổi ý kiến hoặc góp ý về một nội dung nào đó trực tuyến và luôn được cập nhật bình luận mới nhất giúp cho người đọc có thể nói lên quan điểm của mình hoặc học hỏi tiếp thu từ ý kiến của những đọc giả khác hay chỉ đơn thuần là đóng góp, góp ý cho tác giả của bài viết.</p>
</ul>


<i>Những công nghệ, nền tảng sử dụng để thực hiện dự án:</i>
<ul style="margin-left: 30px;">
    
    <li style="font-weight: bold;"> BackEnd:</li>
    <p> Python, Django Framework, Deep Learning Natural Language Processing, Data Crawling.</p>

    <li style="font-weight: bold;"> FrontEnd:</li>
    <p>HTML5, CSS, JS, Bootstrap, JQuery.</p>

    <li style="font-weight: bold;"> Database:</li>
    <p>PostgreSQL.</p>
</ul>
</div>

      

{% endblock %}
</html>