{% extends 'base.html' %}

{% block title %}Bình luận{% endblock %}
{% block content %}

    <div class="mainprofile row">
    <h2 style="margin-bottom: 50px;">Bình luận</h2>
    <div class="col-md-12 editprofile">
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {% if user.is_authenticated %}
                <p><label for="id_name">Tên người dùng: </label><br> 
                <input type="text" class="form-group" name="name" maxlength="250" required style="border: none;background: none;outline: none;"
                                                             id="id_name" value="{{ user.first_name }} {{ user.last_name }}"readonly ></p>
                <p><label for="id_body">Viết bình luận:</label><br> 
                    <textarea name="body" rows="10" required id="id_body" style="width: 100%;">
            </textarea></p>
                <input type="button" class="btn btn-danger mt-3" value="Cancel"
                       onclick="window.history.back()"/>
                <button type="submit" class="btn btn-primary mt-3">Thêm bình luận</button>
            {% else %}
            <br>
                Cần đăng nhập để tạo bình luận<br>
                <a style="font-size: 20px" href="{% url 'login' %}">Đăng nhập ngay</a>
            {% endif %}
    </form>
        <br>
    </div>
    </div>
    
{% endblock %}