{% extends 'base.html' %}


{% block content %}

       <!--========================= main content ========================-->
    
       <section class="main_content" style="margin-top: 50px;">
        <h1 id>{{ post.title }}</h1>
        <div> <small>Viết bởi: </small> <b>{{ post.author.first_name}} {{ post.author.last_name }}</b> </div>
        <small>Đăng vào ngày: {{ post.date }}</small><br> 
        <form method="POST" action="{% url 'deletepost' post.pk %}" onsubmit="return confirm('Are you sure ?');">
            {% csrf_token %}
            
            {% if user.is_authenticated %}
                {% if post.author.id == user.id %}
                    <input class="btn btn-primary mt-3" style="margin-right: 20px; border-radius: 5px;" type="button"
                           onclick="location.href=`{% url 'updatepost' post.pk %}`" value="Sửa"/>
                    <button type="submit"  style=" border-radius: 5px;" class="btn btn-danger mt-3">Xóa</button>
                {% endif %}
            {% endif %}
        </form>
        
        
        <div class="container">
            <div class="row">
    
            <!--=========================content left ========================-->
            <div class="col-md-9">
              <div class="row">
                  
                <!--=============RECENT headline ==============-->
                
                <div class="col-md-12 title mb30 maindetail">
                   
                    <p style="font-size: 18px; text-align:justify">{{ post.body|safe }}</p>
                </div>
           
              </div>
            </div>
            <!--=========================content left end ========================-->
    
            <!--=========================content middle ========================-->
    
            <div class="col-md-3">
    
              <!--=============TECHNOLOGY ==============-->
              <div class="row">
                <div class="col-md-12 title mb30">
                  <h5>Danh sách báo mới</h5>
                </div>
    
                <div class="col-md-12 mb30">
                  <div class="tecnology">
                    {% for post in object_list|slice:":10" %}
                      {% if forloop.first %}
                        <div class="content_box">
                          <span>
                            <i class="fa fa-clock-o"></i> {{ post.date}} - Mới
                          </span>
                          <h6><a href="{% url 'detailpost' post.pk %}">{{ post.title }}</a></h6>
                        </div>
                      {%  else  %}
                      <hr>
                      <div class="content_box">
                        <span>
                          <i class="fa fa-clock-o"></i> {{ post.date}} 
                        </span>
                        <h6><a href="{% url 'detailpost' post.pk %}">{{ post.title }}</a></h6>
                      </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!--=============TECHNOLOGY end ==============-->
    
            </div>
    
            <!--=========================content middle end ========================-->
            
            </div>
            <div class="row">
              <div class="col-md-12">
                  <h3>Phần bình luận</h3><br>
                  <form method="post">
                  {{ cmt_form.as_p }}
                  </form>
                  <strong><a href="{% url 'addcomment' post.pk %}">Thêm bình luận</a></strong><br><br>
                  {% if not post.comments.all %}
                      <small>Chưa có bình luận ...</small>
                  {% else %}
                      {% for cmt in post.comments.all %}
                          <h4>{{ cmt.name }}  <small> -  {{ cmt.date_added }}</small></h4>
                         <p style="font-size: 15px">{{ cmt.body }}</p>
                          <br><br>
                      {% endfor %}
                  {% endif %}
              </div>
          </div>
        </div>
      </section>
{% endblock %}