{%  extends 'base.html' %}

{% block content %}
<div class="mainprofile row">
    <h2 style="margin-bottom: 50px;">Sửa thông tin cá nhân</h2>
    <div class="col-md-12 editprofile">
        <form method="post" enctype='multipart/form-data' onsubmit="return confirm('Are you sure ?')">
            {%  csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <div class="text-right">
                    <input type="button" style=" border-radius: 5px;" class="btn btn-danger mr-1 mt-3" value="Thoát"
                                   onclick="location.href=`{% url 'profile' %}`"/>
                <button type="submit" style="margin-left: 20px; border-radius: 5px;" class="btn btn-primary mt-3 ml-3">Cập nhật</button>
                </div>
                
        </form>
        
        <br>
    </div>
</div>
{% endblock %}
