{% extends 'base.html' %}
{% block content%}
<!-- 
<h2>Bảng tin</h2>
<p>Tin tức mới nhất trong ngày :</p> -->





<section class="banner">
    <div class="container">
      <div class="row">

        <div class="col-md-12 title mb30">
          <h5>HEADLINES</h5>
        </div>
        <div class="col-md-12 mb30">
          <div id="owl-demo">
            {% for post in object_list|slice:":6" reversed %}
            <div class="item">
                <a href="{% url 'detailpost' post.pk %}" class="item_box item_box1">
                    <img src="{{ post.image.url }}" class="img-responsive img-responsive1">
                    <div class="item_box_content">
                        <h6>{{ post.title }}</h6>
                        <div class="time_and_title">
                            <span>Lượt xem: {{ post.views }}</span>
        
                            <time><i class="fa fa-clock-o"></i> {{ post.date }}</time>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            
          </div>
        </div>

      </div>
    </div>
  </section>

   <!--========================= main content ========================-->

   <section class="main_conten">
    <div class="container">
      <div class="row">

        <!--=========================content left ========================-->
        <div class="col-md-6">
          <div class="row">
            <!--=============RECENT headline ==============-->
            <div class="col-md-12 title mb30">
              <h5>RECENT NEWS</h5>
            </div>
            <!--=============RECENT headline end==============-->

            <!--=============RECENT content==============-->

            {% for post in object_list|slice:":7" reversed %}
            {% if forloop.first %}
            <div class="col-md-12 mb30">
                <a href="{% url 'detailpost' post.pk %}"><img src="{{ post.image.url }}" class="img-responsive"></a>
            </div>
            <div class="col-md-12 pb15 span_and_title">
                <span class="tag">{{ post.author }}</span>
                <time><i class="fa fa-clock-o"></i>{{ post.date }}</time>
                <span class="comment">
                  <i class="fa fa-eye"> {{ post.views }}</i>
                </span>
            </div>
            <div class="col-md-12">
                <h4><a href="{% url 'detailpost' post.pk %}">{{ post.title }}</a></h4>
                <p>{{ post.description }}</p>
  
                <div class="angkor">
                    <a href="{% url 'detailpost' post.pk %}">Continue reading</a>
                    <div class="social share"><i class="fa fa-share-alt"></i> Share
                      <ul>
                        <li><a href="#"><i class="icon fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                      </ul>
                    </div>
                  </div>
              </div>
            {%  else  %}
            <!--====== hr ======-->
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        <!--====== hr end ======-->
        
        <!--=========== sub content left section ===========-->
        
        <div class="row">
            <div class="col-md-6 pb15">
                <a href="{% url 'detailpost' post.pk %}"><img src="{{ post.image.url }}" class="img-responsive"></a>
            </div>
        
            <div class="col-md-6">
                <div class="row">
        
                    <div class="col-md-12 pb15 span_and_title">
                        <span class="tag">{{ post.author }}</span>
                        <time><i class="fa fa-clock-o"></i>{{ post.date }}</time>
                        <span class="comment">
                        <i class="fa fa-eye"> {{ post.views }}</i>
                </span>
        
        
                    </div>
                </div>
                <h4><a href="{% url 'detailpost' post.pk %}">{{ post.title }}</a></h4>
                <p>{{ post.description }}</p>
        
        
                <div class="angkor">
                    <a href="{% url 'detailpost' post.pk %}">Continue reading</a>
                    <div class="social share"><i class="fa fa-share-alt"></i> Share
                        <ul>
                            <li><a href="#"><i class="icon fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--===========sub content left section end ===========-->
            {% endif %}
            {% endfor %}

            <!--=============RECENT content end==============-->

          </div>

        </div>
        <!--=========================content left end ========================-->





        <!--=========================content middle ========================-->

        <div class="col-md-3">
          <!--=============TECHNOLOGY ==============-->

          <div class="row">
            <div class="col-md-12 title mb30">
              <h5>TECHNOLOGY
              </h5>
            </div>

            <div class="col-md-12 mb30">
              <div class="tecnology">
                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h6>
                  </a>
                </div>
                <hr>

                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h6>
                  </a>
                </div>

                <hr>
                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text of the printing</h6>
                  </a>
                </div>

                <hr>

                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text printing and typesetting industry</h6>
                  </a>
                </div>


                <hr>
                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text of the printing</h6>
                  </a>
                </div>

                <hr>

                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text printing and typesetting industry</h6>
                  </a>
                </div>




              </div>
            </div>

            <div class="col-md-12 title mb30">
              <h5>Nature
              </h5>
            </div>

            <div class="col-md-12 mb50">
              <div class="tecnology">
                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h6>
                  </a>
                </div>
                <hr>

                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h6>
                  </a>
                </div>

                <hr>
                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text of the printing</h6>
                  </a>
                </div>

                <hr>

                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text printing and typesetting industry</h6>
                  </a>
                </div>


                <hr>
                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text of the printing</h6>
                  </a>
                </div>

                <hr>

                <div class="content_box">
                  <span>
                    <i class="fa fa-clock-o"></i>
                    OCT 7TH, 2015
                  </span>
                  <a href="">
                    <h6>Lorem Ipsum is simply dummy text printing and typesetting industry</h6>
                  </a>
                </div>




              </div>
            </div>





            <div class="col-md-12">

              <div class="row">
                <div class="col-md-12 title mb30">
                  <h5>ADVERTISING</h5>
                </div>

                <div class="col-md-12 mb30">
                  <img src="images/advertising.jpg" class="img-responsive">
                </div>



              </div>
            </div>
          </div>

          <!--=============TECHNOLOGY end ==============-->

        </div>
        <!--=========================content middle end ========================-->






        <!--========================= content right ========================-->

        <div class="col-md-3">

          <!--=============FOLLOW ==============-->

          <div class="row">
            <div class="col-md-12 title mb30">
              <h5>FOLLOW ME!
              </h5>
            </div>

            <div class="col-md-12 mb30">
              <div class="icon_box">

                <a href="#" class="twitter" target="_blank">
                  <i class="fa fa-twitter"></i>
                  <p>Twitter<span>Follow me!</span></p>
                </a>

                <a href="#" class="facebook" target="_blank">
                  <i class="fa fa-facebook"></i>
                  <p>Facebook<span>LIKE!</span></p>
                </a>

                <a href="#" class="dribbble" target="_blank">
                  <i class="fa fa-dribbble"></i>
                  <p>Dribbble<span>OUR CHANNEL!</span></p>
                </a>

                <a href="#" class="custom" target="_blank" style="background: #C7C5B3;">
                  <i class="fa fa-instagram"></i>
                  <p>Instagram<span>See more photos!</span></p>
                </a>

                <a href="#" class="rss" target="_blank">
                  <i class="fa fa-rss"></i>
                  <p>RSS<span>Get our latest news!</span></p>
                </a>
              </div>
            </div>
          </div>

          <!--=============FOLLOW end ==============-->
          <!--=============facebook ==============-->
          <div class="row">
            <div class="col-md-12 title mb30">
              <h5>FACEBOOK
              </h5>
            </div>




            <div class="col-md-12 mb30">

              <div data-href="https://www.facebook.com/facebook" data-width="260" data-height="400"
                data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                data-show-facepile="true" data-show-posts="true" class="fb-page fb_iframe_widget"
                fb-xfbml-state="rendered"
                fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=113869198637480&amp;container_width=588&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=false&amp;width=260">
                <span style="vertical-align: bottom; width: 260px; height: 400px;"><iframe name="f340d07aec"
                    width="260px" height="400px" frameborder="0" allowtransparency="true" allowfullscreen="true"
                    scrolling="no" title="fb:page Facebook Social Plugin"
                    src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=113869198637480&amp;channel=https%3A%2F%2Fs-static.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FwjDNIDNrTQG.js%3Fversion%3D41%23cb%3Df225846a4c%26domain%3Ddevelopers.facebook.com%26origin%3Dhttps%253A%252F%252Fdevelopers.facebook.com%252Ffef8c301c%26relation%3Dparent.parent&amp;container_width=588&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=false&amp;width=260"
                    style="border: none; visibility: visible; width: 260px; height: 400px;" class=""></iframe></span>
              </div>
            </div>

          </div>

          <!--=============facebook end ==============-->


          <!--=============TWITTER ==============-->


          <div class="row">
            <div class="col-md-12 title mb30">
              <h5>TWITTER
              </h5>
            </div>
            <div class="col-md-12 mb30">
              <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/fardouskhan234"
                data-widget-id="661037421815988224">Tweets by @fardouskhan234</a>
              <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
              <div class="clear"></div>
            </div>

          </div>

          <!--=============TWITTER end ==============-->



          <!--==========ABOUT newstoday==========-->

          <div class="row">

            <div class="col-md-12 title mb30">
              <h5>ABOUT NEWSTODAY
              </h5>
            </div>
            <div class="col-md-12 mb30">
              <img src="images/about/cemera.jpg" class="img-responsive">
            </div>

            <div class="col-md-12 mb30">

              <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>


            </div>

          </div>



          <!--========ABOUT newstoday end ========-->

          <!--========TAG CLOUD ========-->
          <div class="row">

            <div class="col-md-12 title mb30">
              <h5>TAG CLOUD
              </h5>
            </div>


            <div class="col-md-12 mb30">

              <div class="tagcloud">

                <a href="">Photography</a>
                <a href="">no cover</a>
                <a href="">featured top</a>
                <a href="">Tech</a>
                <a href="">Nature</a>
                <a href="">featured bottom</a>
                <a href="">Music</a>
                <a href="">Entertainment</a>
                <a href="">Business</a>
                <a href="">Planting</a>
                <a href="">Campaign</a>
                <a href="">Apple</a>
                <a href="">Security</a>
                <a href="">London</a>
                <a href="">City</a>
                <a href="">Landscapes</a>
                <a href="">video</a>
                <a href="">Education</a>
                <a href="">Coding</a>

              </div>

            </div>

          </div>

          <!--========TAG CLOUD end ========-->



          <!--========FLICKR ========-->

          <div class="row ">

            <div class="col-md-12 title mb30">
              <h5>FLICKR
              </h5>
            </div>
          </div>
          <div class="row FLICKR">

            <div class="col-md-4 title flickr">

              <a rel="prettyPhoto[gallery_one]" title="FLICKR" class=" btn-system portfolio-link"
                href="images/flickr/1.jpg">
                <img src="images/flickr/1.jpg" class="img-responsive">
              </a>

            </div>

            <div class="col-md-4 title flickr">

              <a rel="prettyPhoto[gallery_one]" title="FLICKR" class=" btn-system portfolio-link"
                href="images/flickr/2.jpg">
                <img src="images/flickr/2.jpg" class="img-responsive">
              </a>

            </div>


            <div class="col-md-4 title flickr">

              <a rel="prettyPhoto[gallery_one]" title="FLICKR" class=" btn-system portfolio-link"
                href="images/flickr/3.jpg">
                <img src="images/flickr/3.jpg" class="img-responsive">
              </a>

            </div>


          </div>

          <div class="row FLICKR">

            <div class="col-md-4 title flickr">

              <a rel="prettyPhoto[gallery_one]" title="FLICKR" class=" btn-system portfolio-link"
                href="images/flickr/4.jpg">
                <img src="images/flickr/4.jpg" class="img-responsive">
              </a>

            </div>

            <div class="col-md-4 title flickr">

              <a rel="prettyPhoto[gallery_one]" title="FLICKR" class=" btn-system portfolio-link"
                href="images/flickr/5.jpg">
                <img src="images/flickr/5.jpg" class="img-responsive">
              </a>

            </div>


            <div class="col-md-4 title flickr">

              <a rel="prettyPhoto[gallery_one]" title="FLICKR" class=" btn-system portfolio-link"
                href="images/flickr/6.jpg">
                <img src="images/flickr/6.jpg" class="img-responsive">
              </a>

            </div>


          </div>
        </div>

        <!--========FLICKR end ========-->


        <!--========================= content end ========================-->

      </div>
    </div>
    </div>
  </section>
  <!--========================= main content  end========================-->







<!-- 

    {% for post in object_list|slice:":2"  %}
<div class="d-flex border p-3 mb-3">
    <img src="{{ post.image.url }}"
         class="flex-shrink-0 me-3 mt-3 rounded-circle" style="width:60px;height:60px;">

    <div>
        <h3><a href="{% url 'detailpost' post.pk %}" style="text-decoration: none" id="Title">{{ post.title }}</a></h3>
        <p>Lượt xem: {{ post.views }}</p>
        <h6><a href="{% url 'profile' %}" style="text-decoration: none">{{ post.author }}</a><small> - {{ post.date }}</small></h6>
        <p>{% lorem 1 p random %}</p>
    </div>
</div>
    {% endfor %}
    <hr>
    <hr>
    {% for post in object_list  %}
<div class="d-flex border p-3 mb-3">
    <img src="{{ post.image.url }}"
         class="flex-shrink-0 me-3 mt-3 rounded-circle" style="width:60px;height:60px;">

    <div>
        <h3><a href="{% url 'detailpost' post.pk %}" style="text-decoration: none" id="Title">{{ post.title }}</a></h3>
        <p>Lượt xem: {{ post.views }}</p>
        <h6><a href="{% url 'profile' %}" style="text-decoration: none">{{ post.author }}</a><small> - {{ post.date }}</small></h6>
        <p>{% lorem 1 p random %}</p>
    </div>
</div>
    {% endfor %}
<hr>
<hr>
{% for post in object_list %}
{% if forloop.last %}
<strong>
    <div class="d-flex border p-3 mb-3">
        <img src="{{ post.image.url }}" class="flex-shrink-0 me-3 mt-3 rounded-circle" style="width:60px;height:60px;">

        <div>
            <h3><a href="{% url 'detailpost' post.pk %}" style="text-decoration: none" id="Title">{{ post.title }}</a>
            </h3>
            <p>Lượt xem: {{ post.views }}</p>
            <h6><a href="{% url 'profile' %}" style="text-decoration: none">{{ post.author }}</a><small> - {{ post.date}}</small></h6>
            <p>{% lorem 1 p random %}</p>
        </div>
    </div>
</strong>
{%  else  %}
<small>
    <div class="d-flex border p-3 mb-3">
        <img src="{{ post.image.url }}" class="flex-shrink-0 me-3 mt-3 rounded-circle" style="width:60px;height:60px;">

        <div>
            <h3><a href="{% url 'detailpost' post.pk %}" style="text-decoration: none" id="Title">{{ post.title }}</a>
            </h3>
            <p>Lượt xem: {{ post.views }}</p>
            <h6><a href="{% url 'profile' %}" style="text-decoration: none">{{ post.author }}</a><small> - {{ post.date}}</small></h6>
            <p>{% lorem 1 p random %}</p>
        </div>
    </div>
</small>
{% endif %}
{% endfor %} -->
{% endblock %}
