{% extends 'base.html' %}
{% block content%}

<h2>Bảng tin</h2>
<p>Tin tức mới nhất trong ngày :</p>
    {% for post in object_list %}
<div class="d-flex border p-3 mb-3">
    <img src="{{ post.image.url }}"
         class="flex-shrink-0 me-3 mt-3 rounded-circle" style="width:60px;height:60px;">

    <div>
        <h3><a href="{% url 'detailpost' post.pk %}" style="text-decoration: none" id="Title">{{ post.title }}</a></h3>
        <p>Lượt xem: {{ post.views }}</p>
        <h6><a href="{% url 'profile' %}" style="text-decoration: none">{{ post.author }}</a><small> - {{ post.date }}</small></h6>
        <p>{% lorem 1 p random %}</p>
    </div>
</div>
    {% endfor %}

{% endblock %}
