{% extends 'base.html' %}


{% block content %}
    <div class="centerllogin">
        <div class="headerlogin">Đăng nhập</div>
        <form method="post">
            {% csrf_token %}
            {{ login_form }}
            <input type="hidden" name="login" value="True"/>
            <input type="submit" value="Đăng nhập">
			<button type="button" data-toggle="modal" data-target="#exampleModalCenter">Tạo tài khoản</button>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered createfrom" role="document">
            <div class="modal-content createfrom">
                <div class="modal-header ">
                    <div class="modal-title " id="exampleModalLabel">Tạo tài khoản mới<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <strong><span aria-hidden="true">&times;</span></strong>
                      </button></div>
                    
                </div>
                <form method="post" onsubmit="return confirm('Are you sure ?')">
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type="hidden" name="signup" value="True"/>
                        <label>Tên tài khoản: </label>{{ register_form.username }}
                        <label>Email: </label>{{ register_form.email }}
                        <label>Họ: </label>{{ register_form.first_name }}
                        <label>Tên: </label>{{ register_form.last_name }}
                        <label>Nhập mật khẩu: </label><span id='message1'></span>
                        <input type="password" name="password1" class="form-control" required id="id_password1" onkeyup='check()'/>
                        <label>Xác nhận mật khẩu: </label><span id='message2'></span>
                        <input style="position: relative" type="password" name="password2" class="form-control" required id="id_password2" onkeyup='check()'>
                        <input type="hidden" name="signup" value="True"/>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Tạo">
                        <!-- <button type="submit" class="btn btn-success">Create Account</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    
{% endblock %}

