{% extends 'base.html' %}


{% block content %}
<div class="mainprofile row">
    <h2 style="margin-bottom: 50px;">Chỉnh sửa bài viết</h2>
    <div class="col-md-12 editprofile">
        {% if user.is_authenticated %}
        {% if post.author.id == user.id %}
            <form method="post" enctype="multipart/form-data" onsubmit="return confirm('Are you sure ?')">
                <table>
                    {% csrf_token %}
                    {{ form.as_p}}
                    {{ form.media }}

                </table>
                <div class="text-right">
                    <input type="button" style=" border-radius: 5px;" class="btn btn-danger mt-3" value="thoát"
                    onclick="location.href=`{% url 'detailpost' post.pk %}`"/>
                    <button type="submit" style="margin-left: 20px; border-radius: 5px;" class="btn btn-primary mt-3">Cập nhật</button>
                </div>
                
            </form>
        {% else %}
            <h1>You re not allow here !!</h1>
        {% endif %}
        {% else %}
         <h1>You re not allow here !!</h1>
        {% endif %}
        <br>
    </div>
 </div>
   
{% endblock %}
